$accentColor = #2929CC
$textColor = #191B32
$borderColor = #EFF6F6 //#E1E1E1
$codeBgColor = #282C34
$ctacolor = #FF5733
$textSecondaryColor = #3278CA

$homePageWidth = 960px
$contentWidth = $homePageWidth
